/* 채팅창 스크롤바 속성 */
.message-container::-webkit-scrollbar {
  background: transparent;
}

.message-container span {
  text-shadow: 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000,
    0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000,
    0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0 0 0.05em #000, 0.05em 0.05em 0.05em #000,
    0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000,
    0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000,
    0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000,
    0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000, 0.05em 0.05em 0.05em #000;
  animation: fadeInUp 0.5s ease, fadeOut 1s ease 3s forwards;
}
