.ql-container {
  height: 400px;
  overflow-y: auto;
}
.ql-container * {
  font-size: 16px;
}
.ql-editor ol,
.ql-editor ul {
  padding-left: 10px;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 10px;
}

.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 30px;
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 50px;
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 70px;
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 90px;
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 110px;
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 130px;
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 150px;
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 170px;
}
