/* Hide overflow to prevent scrolling */
.allWrap.chat-open {
  overflow: hidden;
}

.chatPage {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%; /* Adjust the width as needed */
  height: 100%;
  background-color: #eee; /* Set background color as needed */
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for separation */
  z-index: 999; /* Set a high z-index to make sure it overlays the main content */
}

@media (max-width: 390px) {
  .chatPage {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    background-color: #eee; /* Set background color as needed */
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for separation */
    z-index: 999; /* Set a high z-index to make sure it overlays the main content */
  }
}
