@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
  }

  textarea {
    resize: none;
  }

  section + section {
    @apply mt-12;
  }

  h2 {
    @apply text-2xl font-bold mb-8;
  }

  h3 {
    @apply text-lg font-semibold mb-5;
  }

  @media (max-width: 640px) {
    html {
      font-size: 14px;
    }
  }

  table {
    @apply w-full;
  }
  thead {
    @apply border-b-2 border-black;
  }

  tbody tr {
    @apply border-b-[1px] border-[rgba(0,0,0,0.3)];
  }

  table th {
    @apply p-2;
  }
  table td {
    @apply p-3;
  }
}

@layer components {
  .badge {
    @apply inline-flex items-center rounded-md font-medium ring-1 ring-inset;
  }
}
